<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F04 - Ex01</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id='intro'>
        <div v-if='schools.length'>
            <h2></h2>
            <p v-for="school in schools">{{school}}</p>
        </div>
        <div v-else>
            <h4>SEM ESCOLAS</h4>
        </div>

        <div v-if='schools.length'>
            
        </div>

    </div>

    <script>
        const vm = new Vue({
            el: '#intro',
            data: {
                schools: ['ESMAD', 'ISEP', 'ESE', 'ISCAP', 'ESTG', 'ESS', 'ESHT']
            },
            created(){
                this.addSchool('ESMAE')
            },
            computed:{
                filterSchool(schools){
                }
            },
            methods:{
                addSchool(new_school){
                    this.schools.push(new_school)
                },
            },
        })
    </script>
</body>

</html>