<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F04 - Ex03</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse
        }
    </style>
</head>

<body>

    <div id='intro'>

        <ul>
            <li v-for="team in teams">
                Name: {{team.name}} AND year: {{team.year}}
            </li>
        </ul>

        <button v-on:click="addTeam('Braga',1923,'braga')">ADICIONAR EQUIPA</button> 
        <button v-on:click="filterLocation('lisboa')">FILTRAR EQUIPA</button>

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Year</th>
                <th>Location</th>
            </tr>
            <tr v-for="(team,index) in filteredTeams">
                <td>{{index+1}}</td>
                <td>{{team.name}}</td>
                <td>{{team.year}}</td>
                <td>{{team.location}}</td>
            </tr>
        </table>

    </div>



    <script>
        const vm = new Vue({
            el: '#intro',
            data: {
                teams: [
                    { name: 'benfica', year: 1910, location: 'lisboa' },
                    { name: 'porto', year: 1912, location: 'porto' },
                    { name: 'sporting', year: 1914, location: 'lisboa' },
                ],
                location: ''
            },
            methods: {
                addTeam(teamName, teamYear, teamLocation) {
                    //Construção do array
                    const newTeam = {
                        name: teamName,
                        year: teamYear,
                        location: teamLocation}
                    this.teams.push(newTeam)
                },

                //Filtrar por localidade
                filterLocation(newLocation) {
                    this.location = newLocation
                }
            },
            computed:{

                //filtro
                filteredTeams(){
                    return this.teams.filter(
                        team => team.location === this.location || this.location == ''
                    )
                }
            }
        })
    </script>
</body>

</html>