<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha 08 - PortugalCastles</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">

        <h1>PORTUGAL CASTLES</h1>
        <div id='manipulacao'>
            <!--ALINEA E)-->
            <button @click='manipulateArray("ei")'>e) i.</button>
            <button @click='manipulateArray("eii")'>e) ii.</button>
            <button @click='manipulateArray("eiii")'>e) iii.</button>
            <button @click='manipulateArray("eiv")'>e) iv.</button>
            <button @click='manipulateArray("ev")'>e) v.</button>
            <button @click='manipulateArray("evi")'>e) vi.</button>
            <button @click='manipulateArray("evii")'>e) vii.</button>
            <button @click='manipulateArray("eviii")'>e) viii.</button>

            <!--ALINEA F)-->
            <button @click='manipulateArray("fi")'>f) i.</button>
            <button @click='manipulateArray("fii")'>f) ii.</button>
            <button @click='manipulateArray("fiii")'>f) iii.</button>
            <button @click='manipulateArray("fiv")'>f) iv.</button>

        </div>
        <br>
        <form @submit.prevent='addCastle'>
            <label for="txtName">NOME DO CASTELO:</label>
            <input type="text" id="txtName" v-model='frm.name' required>
            <br>
            <label for="txtLink">FOTO DO CASTELO:</label>
            <input type="url" id="txtLink" v-model='frm.linkPhoto' required>
            <br><br>
            <input type="submit" value="ADICIONAR CASTELO">
        </form>
        <br>

        <div id="listCastles">
            <p v-if='castles.length==0'>
                NÃO EXISTEM CASTELOS!
            </p>
            <p v-else>
            <div id="filterCastles">
                <label for="txtFilterName">NOME:</label>
                <input type="text" v-model='frm.filter.name' id="txtFilterName">
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th @click='sortCastles'>NOME</th>
                    <th>ANO</th>
                    <th>AÇÕES</th>
                </tr>
                <tr v-for='castle in filteredCastles'>
                    <td>{{castle.id}}</td>
                    <td>{{castle.name}}</td>
                    <td>{{castle.year}}</td>
                    <td>
                        <button @click='editCastle(castle.id)'>EDITAR</button>
                        <button @click='viewCastle(castle.id)'>VER</button>
                        <button @click='removeCastle(castle.id)'>REMOVER</button>
                    </td>

                </tr>
            </table>
            </p>
        </div>




        <dialog id="dlgUpdateCastle">
            <form @submit.prevent='updateCastle'>
                <label for="txtId">ID:</label>
                <input type="text" id="txtId" v-model='frm.edit.id' readonly disabled>
                <br>
                <label for="txtName">NOME DO CASTELO:</label>
                <input type="text" id="txtName" v-model='frm.edit.name' required>
                <br>
                <label for="txtLink">FOTO DO CASTELO:</label>
                <input type="url" id="txtLink" v-model='frm.edit.linkPhoto' required>
                <br>
                <label for="txYear">ANO:</label>
                <input type="text" id="txtYear" v-model='frm.edit.year' required>
                <br><br>
                <input type="submit" value="ATUALIZAR CASTELO">
            </form>
        </dialog>

        <dialog id="dlgViewCastle">
            <img :src="linkPhoto" alt="">
            <br>
            <form method="dialog">
                <input type="submit" value="FECHAR">
            </form>
        </dialog>



    </div>

    <script src="./Ex_vue-Inst.js"></script>

</body>

</html>